<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reportes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="container">
    <h1 class="form-group text-center">Informe de reportes</h1>
    <div class="container jumbotron" style="width: 90%;">
        {% if reportes %}
        {% for item in reportes %}
        <ul class="list-group">
            <li class="list-group-item active">Nombre reporte: {{item.nombre_reporte}}</li>
            <li class="list-group-item">Descripción reporte: {{item.descripcion_reporte}}</li>
            <li class="list-group-item">Encargado: {{item.persona_encargada}}</li>
            <li class="list-group-item">Estado: {{item.estado}}</li>
            
            
        </ul>
        {% endfor %}
        {% else %}
        <h1 class="form-group text-center">No hay reportes realizados</h1>
        {% endif %}
        
    </div>
</body>
</html>